<!-- Header -->
<header id="header" class="header">
	<div class="header-wrap">
		<div class="container">
			<div class="row">
			<div class="col-md-9">
				<nav id="mainnav" class="mainnav">
					<ul class="menu">
						<li><a href="#">About us</a></li>
						<li><a href="#">Homeopaths</a></li>
						<li class="has-children"><a class="active" href="index.html">Categories</a>
							<ul class="sub-menu">
								<li><a href="#">Category 1</a></li>
								<li><a href="#">Category 2</a></li>
								<li class="has-children"><a href="#">Category 3</a>
									<ul class="sub-menu">
										<li><a href="#">Sub Category</a></li>
										<li><a href="#">Sub Category</a></li>
										<li><a href="#">Sub Category</a></li>
										<li><a href="#">Sub Category</a></li>
										<li><a href="#">Sub Category</a></li>
									</ul><!-- /.submenu -->
								</li>
							</ul><!-- /.submenu -->
						</li>
					</ul><!-- /.menu -->
				</nav><!-- /nav -->
			</div><!-- /.col-md-9 -->
			<div class="col-md-3">
				<div class="search-wrap">
					<div class="search-icon"></div><!-- //mobile search button -->
					<form action="#" id="searchform" class="search-form" method="get" role="search">
						<input type="text" id="s" placeholder="Search" class="search-field">
						<input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
						<a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
					</form>
				</div><!-- /.search-wrap -->
			</div><!-- /.col-md-3 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.header-wrap -->
</header>		